<?xml version='1.0' encoding='utf-8'?>
<widget id="org.onepf.openiab.cordova.sample" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaSample</name>
    <description>
        A sample OpenIAB application for Cordova.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="loglevel" value="VERBOSE"/>
</widget>
